CREATE DATABASE SQL_QUANYTHUVIEN
USE SQL_QUANYTHUVIEN
GO

CREATE TABLE KHOA(
	MAKHOA VARCHAR(5) PRIMARY KEY,
	TENKHOA NVARCHAR(20),
	DIENTHOAI VARCHAR(11),
	TRUONGKHOA NVARCHAR(20)
)

CREATE TABLE LOP(
	MALOP VARCHAR(8) PRIMARY KEY,
	TENLOP NVARCHAR(20),
	MAKHOA VARCHAR(5) FOREIGN KEY REFERENCES KHOA(MAKHOA),
	GVCN NVARCHAR(20)
)

CREATE TABLE LOAIDOCGIA(
	MALOAIDOCGIA INT PRIMARY KEY,
	TENDOCGIA NVARCHAR(20)
)

CREATE TABLE TACGIA(
	MATG VARCHAR(5) PRIMARY KEY,
	TENTG NVARCHAR(30),
	DIACHI NVARCHAR(30),
	DIENTHOAI VARCHAR(11),
	FAX VARCHAR(20),
	EMAIL VARCHAR(30),
	GHICHU VARCHAR(200)
)

CREATE TABLE CHUYENMUC(
	MACHUYENMUC VARCHAR(5) PRIMARY KEY,
	TENCHUYENMUC NVARCHAR(200)
)

CREATE TABLE USERS(
	ID VARCHAR(5) PRIMARY KEY,
	PASS VARCHAR(20),
	EMAIL VARCHAR(30)
)
		 
CREATE TABLE NXB(
	MANXB VARCHAR(6) PRIMARY KEY,
	TENNXB NVARCHAR(20),
	DIACHI NVARCHAR(30),
	DIENTHOAI VARCHAR(11),
	FAX VARCHAR(20),
	EMAIL VARCHAR(30),
	WEBSITE VARCHAR(30),
	GHICHU NVARCHAR(200)
)
 CREATE TABLE PHANLOAISACH(
	MALOAI VARCHAR(5) PRIMARY KEY,
	TENLOAI NVARCHAR(50),
	MACHUYENMUC VARCHAR(5) FOREIGN KEY REFERENCES CHUYENMUC(MACHUYENMUC)
)

CREATE TABLE USER_LOG(
	ID VARCHAR(5) FOREIGN KEY REFERENCES USERS(ID),
	LOGIN_LOG SMALLDATETIME,
	LOOUT_LOG SMALLDATETIME
	PRIMARY KEY (ID)
)

CREATE TABLE DOCGIA(
	MADG VARCHAR(6) PRIMARY KEY,
	TENDG NVARCHAR(30),
	GIOITINH VARCHAR(3),
	NGAYSINH SMALLDATETIME,
	NOISINH NVARCHAR(50),
	DIACHI NVARCHAR(50),
	DIENTHOAI VARCHAR(11),
	EMAIL VARCHAR(30),
	MALOP VARCHAR(8) FOREIGN KEY REFERENCES LOP(MALOP),
	MALOAIDOCGIA INT FOREIGN KEY REFERENCES LOAIDOCGIA(MALOAIDOCGIA)
)

CREATE TABLE NGONNGU(
	MANGONNGU VARCHAR(5) PRIMARY KEY,
	TENNGONNGU NVARCHAR(30)
)
CREATE TABLE VITRI(
	MAVITRI VARCHAR(6) PRIMARY KEY,
	KHO INT,
	KE INT,
	NGAN INT
)

CREATE TABLE DAUSACH(
	MASACH VARCHAR(5) PRIMARY KEY,
	TENSACH NVARCHAR(30),
	MALOAISACH VARCHAR(5) FOREIGN KEY REFERENCES PHANLOAISACH(MALOAI),
	MAVITRI VARCHAR(6) FOREIGN KEY REFERENCES VITRI(MAVITRI),
	TRANGTHAI NVARCHAR(10),
	MATG VARCHAR(5) FOREIGN KEY REFERENCES TACGIA(MATG),
	MANGONNGU VARCHAR(5) FOREIGN KEY REFERENCES NGONNGU(MANGONNGU),
	SOTRANG INT,
	MANXB VARCHAR(6) FOREIGN KEY REFERENCES NXB(MANXB),
	SOTIEN MONEY
)


CREATE TABLE DANGKY(
	MADK VARCHAR(5) PRIMARY KEY,
	MASACH VARCHAR(5) FOREIGN KEY REFERENCES DAUSACH(MASACH),
	MADG VARCHAR(6) FOREIGN KEY REFERENCES DOCGIA(MADG),
	NGAYDK SMALLDATETIME,
	GHICHU NVARCHAR(200)
)

CREATE TABLE MUONSACH(
	MAPHIEUMUON VARCHAR(6) PRIMARY KEY,
	MADG VARCHAR(6) FOREIGN KEY REFERENCES DOCGIA(MADG),
	MASACH VARCHAR(5) FOREIGN KEY REFERENCES DAUSACH(MASACH),
	NGAYMUON SMALLDATETIME,
	NGAYTRA SMALLDATETIME,
	GHICHU NVARCHAR(200)
)

CREATE TABLE QUATRINHMUON(
	MAPHIEUMUON VARCHAR(6) PRIMARY KEY,
	MADG VARCHAR(6) FOREIGN KEY REFERENCES DOCGIA(MADG),
	MASACH VARCHAR(5) FOREIGN KEY REFERENCES DAUSACH(MASACH),
	NGAYMUON SMALLDATETIME,
	NGAYTRA SMALLDATETIME,
	TIENPHAT MONEY,
	GHICHU NVARCHAR(200)
)

CREATE TABLE QUIDINH(
	MAQUIDINH VARCHAR(5) PRIMARY KEY,
	TENQUIDINH NVARCHAR(20),
	MUCPHAT MONEY --qui định cũ bao gồm MUCPHAT int và SOTIEN money, tui đã gộp 2 cái làm 1
)
-- thêm vào bảng VIPHAM
CREATE TABLE VIPHAM(
	MAPHIEUMUON VARCHAR(6) REFERENCES QUATRINHMUON(MAPHIEUMUON),
	MAQUIDINH VARCHAR(5) REFERENCES QUIDINH(MAQUIDINH),
	SONGAYTRE SMALLDATETIME,
	PRIMARY KEY (MAPHIEUMUON,MAQUIDINH)  
)
